table {
            border-collapse: collapse;
            border: 3px solid rgb(137, 5, 77);
        }
td,th {
            border: 1px solid black;
        }
div{
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            border: 1px solid black;
        }
  